<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="adServ" value="localhost"/>
		<add key="uid" value="root"/>
		<add key="motDePasse" value=""/>
		<add key="bdnom" value="stock"/>
		<add key="port" value="3306"/>
		<add key="tableActive" value="0"/>
		

		
		
		<add key="defadServ" value="localhost"/>
		<add key="defuid" value="root"/>
		<add key="defmotDePasse" value=""/>
		<add key="defbdnom" value="test"/>
		<add key="defport" value="3306"/>
		
	</appSettings>
	
</configuration>